<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<title th:utext="#{label.pages.home.title}"></title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/homepage.html}" th:utext="#{label.pages.home.title}">home</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/logout}" th:utext="#{label.pages.logout}">logout</a> </li>
      </ul>
    </div>
</nav>

<div class="container">         
     <p sec:authorize="!hasAuthority('MANAGER_PRIVILEGE')" th:utext="#{message.unauth}">unauth</p>
        
     <h1 sec:authorize="hasAuthority('MANAGER_PRIVILEGE')" th:utext="#{label.pages.manager.message}">Manager</h1>
</div>
</body>
</html>